<h1> Add a new item </h1>

<form method="post">
  <div>
  <label for="link" name="link">Link URL</label>
  <input id="link" name="link" placeholder="Enter a URL...">
  </div>
  <div>
  <label for="description" name="description">Link Description</label>
  <input id="description" name="description" placeholder="Enter a link description">
  </div>
  <div>
  <label for="pic" name="pic">Thumbnail URL</label>
  <input id="pic" name="pic" placeholder="Enter a thumbnail URL">
  </div>
  <div>
  <button>Create item</button>
  </div>
</form>
